@media screen and (max-width: 480px){

  header, section, footer, footer div, .menu {
    width: 460px;
  }

  .contact, .banner, .banner img {
    width: 100%;
  }

  .menu nav {
    padding: 16px 32px;
  }

  .menu_search {
    display: none;
  }

  .menu_logo, .menu_logo img{
    width: 100px;
    height: 28px;
  }

  .menu_login button {
    height: 40px;
    width: 133px;
  }

  .menu_icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
    padding:  0px 16px;
    width: 100%;
  }

  .contact {
    flex-direction: column;
    align-items: center;

    padding: 16px;
    
    height: auto;
  }

  .contact_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact_topics ul {
    align-items: center;
  }

  .contact .forms {
    margin-top: 50px;
    width: 328px;
  }

  .contact .forms form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 328px;
  }

  .form-floating input, .form-floating textarea{
    width: 328px;
  }

  footer {
    padding: 0px;
  }
}