@media screen and (max-width: 1024px){

  header, section, footer div, .menu {
    width: 1024px;
  }  

  .content, .contact, footer {
    padding-left: 32px;
    padding-right: 32px;
  }

  header {
  }

  .banner, .banner img {
    height: 250px;
    width: 1024px;
  }
 
  .contact {
    padding: 32px;
  }

  .input_container textarea{
    width: 460px;
  }

}