
@media screen and (max-width: 1024px){
  .menu_login {
    width: 30%;
  }
  
}

@media screen and (max-width: 768px){
  
  .gallery-title {
    font-size: 22px;
  }
  
  .galley_card .image img{
    width: 164px;
  }


  .banner, .banner img {
    width: 768px;
    height: 200px;
  }

} 

@media screen and (max-width: 480px){

  .banner, .banner img {
    width: 100%;
    height: 150px;
  }
  
  .gallery_container {
    height: 558px;
  }

  .galley_cards {
    flex-wrap: wrap;
  }

  .galley_card {
    margin-bottom: 15px;
  }

  .galley_card .image img{
    width: 156px;
  }

  .gallery_description {
    padding: 5px 2px;
    width: 156px;
  }

}

