
.content_productAdd form p {  
  font-weight: 700;
  font-size: 32px;
  line-height: 19px;
  color: #464646;

  text-align: center;
  
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 100%;
}

.content_productAdd {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;
  width: 100%;
}

.input_container input {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

/* Modals */

.modal-exclamation {
  display: flex;
  justify-content: center;
  width: 95%;
}

#success, #error {
  flex-direction: row;
  padding: 10px 20px;  
  color: white;
  height: 70px;
}

#success{
  background-color: #037a19;
}

#error{
  background-color: #c73030fa;
}

.message {
  text-align: center;
  margin: 0px;
  width: 95%;
}

/* Form */
.form_button-productAdd button {
  width: 100%;
}

.input_imgBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 1rem 0;
  height: 300px;
}


.imagePreview {
  background-color: white;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.imagePreview img{
  opacity: 0.6;
  height: 180px;
}

#inputImgProduct {
  margin-top: 10px;
  width: 70%;
}