.content {
  background: #F5F5F5;
}

.content_products {
  padding: 40px 0px;
}

/* Modal */
.my-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  padding: 30px;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

.modal-box {
  height: 70px;
  width: 100%;
  display: flex;
}

/* Modal Content */
.my-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  
  border-radius: 5px;
  color: white;
  margin: auto;
  padding: 10px 20px;
  height: 60px;
  width: 330px;
}

#success {
  background-color: #01891ad4;
}

#error{
  background-color: #c73030fa;
}

.my-modal-content p {
  margin: 0px;
}

.message {
  text-align: center;
  width: 95%;
}

/* The Close Button */
.close-modal {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.products_topo {
  display: flex;
  justify-content: space-between;

  padding: 0px 15px;

  height: 60px;
  width: 100%;
}

.products_topo p {
  margin: 0px;
}

.topo-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.plus {
  font-size: 24px;
  cursor: pointer;
  color: #2A7AE4;
}

.plus:hover{
  font-size: 28px;
  color: #286fcd;
}

.gallery {
  display: flex;
  flex-flow: wrap;
}

.gallery_card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 35px 8px;
}

.gallery_card .image {
  height: 174px;
  width: 176px;
}

.icons-product {
  display: flex;
  justify-content: end;
  
  font-size: 20px;
  color: white;
  background-color: #0000000d;
  position: absolute;
  height: 30px;
  width: 174px;
}

.icon-delete, .icon-edit {
  margin: 10px 5px 0px 15px;
} 

.icon-delete:hover, .icon-edit:hover {
  color: #286fcd;
  cursor: pointer;
} 

.gallery_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 5px 10px;
  width: 176px;
}

.gallery_description p {
  display: flex;
  align-items: center;

  margin-bottom: 0px;
  height: 25px;
}

.description_product {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
}

.description_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.description_id {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #2A7AE4;
}