
.content {
  background: #F5F5F5;
  padding-left: 150px;
  padding-right: 150px;
}

.content_products {
  padding: 40px 0px;
}

.gallery_container{
  height: auto;
}

.gallery_cards {
  flex-flow: wrap;
}

.gallery-topo {
  align-items: center;
  height: 60px;
}

.plus {
  display: flex;
}

.plus button:hover{
  background-color: #2467bf;
  transition: 0.2s;
}

.icons-product {
  display: flex;
  justify-content: end;
  
  font-size: 20px;
  color: white;
  background-color: #0000000d;
  position: absolute;
  height: 30px;
  width: 174px;
}

.icon-delete, .icon-edit {
  margin: 10px 5px 0px 15px;
} 

.icon-delete:hover, .icon-edit:hover {
  color: #286fcd;
  cursor: pointer;
} 

.description_id {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #2A7AE4;
}