
@media screen and (max-width: 768px){
  
  .content_productAdd {
    width: 760px;
  }

  .content_productAdd form p {  
    font-size: 22px;
  }

  .forms_button-productAdd button {
    width: 100%;
  }

} 

@media screen and (max-width: 480px){

  .content_productAdd {
    width:  425px;
  }

  .input_container label {
    font-size: 12px;
  }
  
}

