
.content_productAdd form p {  
  font-weight: 700;
  font-size: 32px;
  line-height: 19px;
  color: #464646;

  text-align: center;
  
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 100%;
}

.content_productAdd {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;
  width: 100%;
}

.input_container input {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

.forms_button-productAdd, .forms_button-productAdd button {
  width: 100%;
}