.content {
  background: #F5F5F5;
}

.content_products {
  padding: 30px 0px;
}

.products_topo {
  display: flex;
  justify-content: space-between;

  padding: 0px 15px;

  height: 60px;
  width: 100%;
}

.products_topo p {
  margin: 0px;
}

.topo-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.gallery {
  display: flex;
  flex-flow: wrap;
}

.gallery_card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 35px 6px;
}

.gallery_card .image {
  height: 174px;
}

.gallery_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 5px 10px;
  width: 176px;
}

.gallery_description p {
  display: flex;
  align-items: center;

  margin-bottom: 0px;
  height: 25px;
}

.description_product {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
}

.description_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.description_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2A7AE4;
}