.content {
  background: #F5F5F5;
  padding: 50px 150px;
  width: 1440px;
}

.product {
  display: flex;
  margin: 30px 0px;
}

.product_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 560px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  width: 60%;
}

.product_name {
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
}

.product_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.notContains {
  background: #e4e4e4;
  text-align: center;
  margin: 40px 0px;
  font-size: 20px;
  width: 100%;
}