
@media screen and (max-width: 768px){
  .product-image img {
    width: 255px;
  }
  
  .product-info {
    padding: 0px 25px;
  }

  .product-name {
    font-size: 22px;
    line-height: 26px;
  }

  .product-description {
    font-size: 14px;
    line-height: 16px;
  }

  .galley-topo p {
    font-size: 22px;
    line-height: 26px;
  }

  .galley_card {
    width: 160px;
  }
} 

@media screen and (max-width: 480px){

  .content {
    padding: 0px;
  }

  .content_product {
    padding: 0px 0px 60px 0px;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0px;
  }

  .product-image img {
    width: 100%;
    height: 300px;
  }

  .product-info {
    padding: 10px 30px;
  }

  .galley_cards {
    flex-wrap: wrap;
  }

  .products-similars {
    margin: 0px;
    padding: 0px 16px;
    height:auto;
    width: 450px;
  }

  .galley_card .image img {
    width: 160px;
  }
 
}

